<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-danger" routerLink="/home">Home</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info" routerLink="/product">Product</button>
    </div>
    
    <div class="col-md-4">
      <button class="btn btn-warning" routerLink="/category">Category</button>
    </div>
    
  </div>
  <br/>
  <hr/>
</div>
 -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/category">Category</a>
            </li>
            
          </ul>
        </div>
      </nav>
    
    </div>
  </div>
</div>
 <br>
<router-outlet></router-outlet>